@import 'variables';
@import 'mixins';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
button {
  outline: none;
  border: 0 none;
}

.btn_yellow{
  @include btnYellow()
}
.btn_black{
  @include btnBlack()
}
.btn_green{
  @include btnGreen()
}