@mixin layout() {
  header {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 16px;
    background-color: #fff;
  }
  main {
    min-height: calc(100vh - 72px);
    padding: 96px 16px 32px;
    background-color: #efefef;
  }
  footer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 72px;
    padding: 16px;
    background-color: #444;
    * {
      color: #fff;
    }
  }
  @media (max-width: 600px) {
    @content;
  }
}

@mixin btnGreen {
  color: #fff;
  background: var(--brand_green_1000);
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  height: 36px;
  &:hover{
    border: none;
    background: var(--brand_green_1100);
    color: var(--white);
  }
  &:active{
    order: none;
    background: var(--brand_green_1200);
    color: var(--white);
  }
}

@mixin btnBlack {
  color: #fff;
  background: var(--brand_black_1200);
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  height: 36px;
  &:hover{
    border: none;
    background: var(--brand_black_1100);
    color: var(--white);
  }
  &:active{
    order: none;
    background: var(--brand_black_1000);
    color: var(--white);
  }
}

@mixin btnYellow {
  color: var(--brand_black_1200);
  background: var(--brand_yellow_400);
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  height: 36px;
  &:hover{
    border: none;
    background: var(--brand_yellow_500);
    color: var(--black);
  }
  &:active{
    order: none;
    background: var(--brand_yellow_300);
    color: var(--brand_black_1200);
  }
}
