@import 'mixins';

.page_mvp_showcase {
  @include layout() {
    main {
      position: relative;
      display: flex;
      flex-flow: row;
      gap: 16px;
      background-color: #efefef;
    }
  }
  .control {
    flex: 0 0 420px;
    display: flex;
    flex-flow: column;
    height: 100%;
    gap: 16px;
    padding: 16px;
    background-color: #fff;
    .suggestion_list {
      display: flex;
      flex-flow: column;
      gap: 8px;
      background-color: #fff;
      ul {
        display: flex;
        flex-flow: column;
        li {
          overflow: hidden;
          display: flex;
          flex-flow: row;
          padding: 8px;
          border: 1px solid #efefef;
          border-radius: 8px;
          gap: 8px;
          &:hover {
            background-color: #efefef;
            cursor: pointer;
          }
          .wrap_img {
            flex: 0 0 60px;
            overflow: hidden;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
          }
          b {
            display: inline-block;
            padding: 4px;
            font-size: 14px;
          }
          p {
            display: inline-block;
            padding: 4px;
            font-size: 12px;
            &::before {
              content: '✅';
              display: inline-block;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
  .content {
    flex: 1;
    display: flex;
    flex-flow: row;
    overflow: auto;
    gap: 16px;
    .preview {
      display: flex;
      flex-flow: column;
      padding: 0 16px 16px;
      background-color: #fff;
      .preview_head {
        position: sticky;
        top: 0;
        padding: 16px 0;
        background-color: #fff;
      }
      .preview_items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        background-color: #fff;
      }
    }
  }
  .side {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    gap: 16px;
    width: calc(100% - 480px - 40px);
    padding: 16px;
    background-color: #fff;
    transition: all 0.3s ease;
    transform: translateX(100%);
    z-index: 10;
    &.open {
      transform: translateX(0);
      background-color: #fff;
    }
    & .btn_side_toggle {
      position: absolute;
      top: 0;
      left: -40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #000;
      color: #fff;
      &:hover {
        background-color: #444;
      }
    }
  }
}
